body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

header {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header-top {
	width: 940px;
	margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.header-top-wrapper {
  background-color: #293449;
}

.logo {
  margin-bottom: -5px;
  padding: 13px 0;
  text-align: center;
  display: block;
  width: 220px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px #b52933;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.footer-logo {
  padding: 20px 0 25px;
}

.search-button {
  border: none;
  padding: 11px;
  position: absolute;
  background-color: transparent;
}

.search-input {
  font: inherit;
  background-color: #293449;
  border: none;
  color: #000000;
  padding-left: 45px;
  width: 100%;
}

.search-button>.search-icon>path {
  fill: #6a7180;
}

.search-button:hover>.search-icon>path {
  fill: #ffffff;
  background-color: #212a3a;
}

.search-input:hover+.search-button>.search-icon>path {
  fill: #ffffff;
}

.search-input:focus+.search-button>.search-icon>path {
  fill: #ee3643;
}

.search-input::placeholder {
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-form {
  width: 270px;
  display: flex;
  align-items: stretch; 
}

.search-form:focus svg,
.search-form:active svg {
  fill: ee3643;
}

.search-form:hover {
  background-color: #212a3a;
}

.search-input:hover { 
  background-color: transparent;
}

.search-form:focus,
.search-form:active{
  background-color: #ffffff;
}

.search-input:active {
  background-color: #ffffff;
}

.search-input:focus {
  background-color: #ffffff;
  outline: none;
}

.header-top-buttons > li {
  flex-grow: 1;
}

.header-link {
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  width: 150px;
  display: block;
  text-align: center;
  padding: 12px 0;
}

.header-link:hover,
.header-link:focus {
  background-color: #212a3a;
}

.header-link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.bookmarks:before {
  content: "";
  background-image: url(../img/icon-bookmark.svg);
  display: block;
  width: 14px;
  height: 16px;
  opacity: 0.3;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 9px;
}

.bookmarks:hover::before,
.bookmarks:focus::before {
  opacity: 1;
}

.cart:before {
  content: "";
  background-image: url(../img/icon-cart.svg);
  display: block;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 9px;
}

.cart:hover::before,
.cart:focus::before {
  opacity: 1;
}

.order {
  width: 150px;
  background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.header-top-buttons {
  width: 450px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 46px;
}

.header-middle-text {
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  display: block;
  width: 204px;
  padding-top: 2px; 
}

.header-middle .header-middle-text:first-child {
  padding-left: 53px;
}

.header-middle-contact {
  border: 3px solid #ffffff;
  display: block;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: center;
}

.contact-address p {
  margin: 0;
}

.contact-tel-link {
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.contact-address {
  padding-top: 10px;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.account {
  width: 281px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
}

.login-item {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ffffff;
  width: 121px;
}
/*  
.login:before {
  content: "";
  background-image: url(../img/icon-login.svg);
  display: block;
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 9px;
} */

.login-item:hover .login-icon>path {
  fill: #32425c;
}

.registration-item {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ffffff;
  width: 150px;
}

.account-link {
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.account-link:hover,
.account-link:hover {
  color: #ee3643;
}

.login:active,
.registration:active {
  color: #cacaca;
}

.login-field {
  list-style: none;
}

.login-name {
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.login-name:active {
  color: #cacaca;
}

.my-orders,
.account {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.my-orders:hover,
.account:hover {
  color: #ee3643;
}

.my-orders:active,
.account:active {
  color: #cacaca;
}
.header-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 44px;
  margin-bottom: 0px;
}

.header-nav > li {
  flex-grow: 1;
}

.header-nav-link {
  font-family: Cuprum;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  padding-top: 22px;
  padding-bottom: 26px;
  text-align: center;
  display: block;
}

.header-nav li:first-child a {
  padding-left: 30px;
}

.header-nav li:last-child a {
  padding-right: 40px;
}

.main-nav {
  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;
}

.header-nav-link:hover {
  background-color: #293449;
}

.header-nav-link:active {
  background-color: #1d2739;
  color: #a8abaf;
}

/* MAIN */

.info-contacts {
  background-color: #ffffff;
}

.info,
.contacts-map {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.info-text { 
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.company {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.more-about-company {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.btn {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.red-button {
  border: 3px solid #ee3643;
  background-color: #ee3643;
  border-radius: 3px;
}

.footer-address {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  width: 323px;
  padding-top: 31px;
  padding-bottom: 53px;
  margin: 0;
}

.footer-top-wrapper {
  background-color: #32425c;
}

.footer-nav {
  background-color: #32425c;
  width: 550px;
}

.footer-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
} 

.footer-nav-link {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.bottom .footer-nav-link {
  color: #ffd180;
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.top .footer-nav-link:active {
  color: #a4abb4;
}

.bottom .footer-nav-link:active {
  color: #ad956f;
}

.footer-nav-list.top {
  padding-top: 42px;
}

.footer-nav-list.bottom {
  padding-top: 45px;
  padding-bottom: 76px;
  padding-left: 23px;
}

.footer-top-middle {
  background-color: #32425c;
  display: flex;
  justify-content: space-between;
}

.footer-bottom-wrapper {
  background-color: #293449;
}

.copyright-text {
  display: block;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.copyright {
  width: 238px;
}

.social-media-list {
  list-style: none;
  display: flex;
  padding-left: 161px;
}

.social {
  background-color: #212a3a;
}

.feedback-text {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback {
  list-style: none;
}

.feedback a {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.feedback-link:hover {
  text-decoration: underline;
}

.feedback-link:active {
  color: #ee3643;
}

.footer-bottom {
  display: flex;
  align-items: center;
}

.feedback {
  display: flex;
  justify-content: flex-end;
}

.feedback .mail {
  width: 196px;
}

.feedback .html-link {
  width: 96px;
}

.copyright .copyright-text {
  width: 228px;
  margin: 0;
  padding-top: 39px;
  padding-bottom: 35px;
}

/*STYLES FOR CATALOG.HTML*/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.page-title {
  background-color: #f2f6f8;
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter-option {
  list-style: none;
}

form label {
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-button {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

/*CATALOG-ITEMS*/

span {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}

.catalog-item-price-old {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
}

.catalog-item-price-new {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #ffffff;
}

.visually-hidden {
  display: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: solid 1px #e5e5e5;
}

.pagination {
  list-style: none;
}

.next-page {
   border: solid 1px #e5e5e5;
}

.pagination a {
  font-family: PTSans;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.account-list-catalog {
  width: 299px;
  display: flex;
  justify-content: space-between;
}

.account-list-catalog li:first-child {
  padding-left: 17px;
  list-style: none;
}


.account-list-catalog li:last-child {
  padding-right: 71px;
  padding-left: 5px;
}


/* MAIN */

.info-contacts {
  display: flex;
}

.contact-info-block {
  width: 519px;
}

.delivery {
  width: 386px;
}

.info-text {
  display: block;
  margin-top: 25px;
}

.more-about-company {
  display: block;
  width: 220px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 86px;
  padding-top: 14px;
  padding-bottom: 12px;
  margin-top: 42px;
}

.get-lost {
  display: block;
  width: 300px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 12px;
  margin-top: 40px;
}

.delivery-list li {
  padding-left: 11px;
}

.social-media-list li {
  padding: 10px;
}







